@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        color: white;
        background-color: black;
        font-family: 'Inter', 'sans-serif';
        line-height: 1.30;
    }
}

@layer Components {
    .menuLink {
        @apply cursor-pointer hover:text-[#Ff0000];
    }
}

/* @layer button{
    .submitbtn{
        border: 20px;
        @apply cursor-pointer hover:text-[#Ff0000];
    }
} */